@font-face {
    font-family: 'fredericka the great';
    src: url('fonts/FrederickatheGreat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'badscript';
    src: url('fonts/BadScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
